.controls {
    width: 100%;
    display: flex;
    justify-content: center;
}

.actions {
    width: 87%;
    background-color: #a892ee;
    border-radius: 10px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

button:hover,
button:active {
    background-color: #510674;
    border-color: #510674;
}
  
button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}
  
button.alternative:hover,
button.alternative:active {
    background-color: #ddb3f8;
}